*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* regole header */
header{
    background-color: orangered;
    height: 80px;
    color: white;
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
}
/* regole nav */
#main-nav{
    display: flex;
    justify-content: center; 
    justify-content: space-around;         
    
}
/* regole microsezioni del nav */
#main-nav div{
    background-color: yellow;
    border: 1px solid black;
    border-style: dashed;
    height: 35px;
    margin-top: 11px;
    align-items: center; 
    display: flex;
    justify-content: space-evenly;
    
    }
    /* regole ul*/
ul{
    display: flex;  
    align-items: center; 
    list-style: none;
    display: flex; 
    gap: 3px; 
           
}

/* regole microsezioni con logo */
.small-nav{
    display: flex;
    align-items: center;
    flex-direction: column;
        
}







